.fatherPrincipalPage {
  height: 100%;
  width: 100%;
}  
.carrousel {
  width: 100%;
  height: 400px;
}
.proximosViaje{
    min-height: 500px;
    width: 100%;
    margin-top: 10px;
    /* background-color: aqua; */
    padding: 10px;

}
/*.proximosViaje*/ .tiltePv{
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: black;
    font-style: italic;
    margin-bottom: 10px;

}
/*.proximosViaje*/ .loadData{
    /* display: grid;
    grid-template-columns: repeat(auto-fill, 180px); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.fatherPrincipalPage .experience{
    min-height: 500px;
    width: 100%;
    margin-top: 10px;
    /* background-color: aqua; */
    padding: 10px;
}